accelerate==1.13.0
ace_tools==0.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
asttokens==3.0.0
atproto==0.0.63
attrs==25.3.0
awscli==1.44.1
beautifulsoup4==4.13.4
bleach==6.2.0
blis==1.3.0
boto3==1.42.11
botocore==1.42.11
Brotli @ file:///croot/brotli-split_1736182456865/work
bs4==0.0.2
catalogue==2.0.10
certifi @ file:///croot/certifi_1745939216646/work/certifi
cffi==2.0.0
chardet==5.2.0
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.2.1
cloudpathlib==0.21.1
cloudpickle==3.1.1
cmudict==1.0.32
colorama==0.4.6
comm==0.2.2
confection==0.1.5
conllu==6.0.0
contourpy==1.3.2
cryptography==45.0.7
cssselect==1.3.0
cycler==0.12.1
cymem==2.0.11
datasets==3.6.0
debugpy==1.8.14
decorator==5.2.1
deepl==1.28.0
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dnspython==2.8.0
docutils==0.19
editdistance==0.8.1
emoji==2.14.1
epitran==1.26.0
et_xmlfile==2.0.0
eval_type_backport==0.2.2
evaluate==0.4.6
executing==2.2.0
faiss-cpu==1.12.0
Faker==38.2.0
fastjsonschema==2.21.2
feedparser==6.0.11
filelock @ file:///croot/filelock_1744281381737/work
fonttools==4.58.4
frozenlist==1.7.0
fsspec==2025.3.0
gensim==4.4.0
git-lfs==1.6
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///croot/gmpy2_1738085463648/work
graphviz==0.21
h11==0.16.0
hf-xet==1.1.4
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.0
idna @ file:///croot/idna_1714398848350/work
ijson==3.5.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
invoke==2.2.1
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
jamo==0.4.1
jedi==0.19.2
Jinja2 @ file:///croot/jinja2_1741710844255/work
jiter==0.10.0
jmespath==1.0.1
joblib==1.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab_pygments==0.3.0
jupyterlab_widgets==3.0.15
kaggle==1.7.4.5
kiwisolver==1.4.8
langcodes==3.5.0
langdetect==1.0.9
langid==1.1.6
language_data==1.3.0
libipld==3.2.0
llvmlite==0.44.0
lxml==5.4.0
lxml_html_clean==0.4.2
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mistralai==1.9.11
mistune==3.3.0
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.5.0
multiprocess==0.70.16
munkres==1.1.4
murmurhash==1.0.13
mysql-connector-python==9.5.0
nbclient==0.11.0
nbconvert==7.17.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///croot/networkx_1737039604450/work
nltk==3.9.1
numba==0.61.2
numpy @ file:///croot/numpy_and_numpy_base_1725470312869/work/dist/numpy-2.0.1-cp311-cp311-linux_x86_64.whl#sha256=372b9067cf9c96d8662c6f20ef49eeda43f0f8d2f074820224c954d8d8fae7bc
openai==1.90.0
openpyxl==3.1.5
packaging==25.0
pandas==2.3.0
pandocfilters==1.5.1
panphon==0.22.2
parso==0.8.4
patsy==1.0.2
pexpect==4.9.0
pillow @ file:///croot/pillow_1744613067434/work
platformdirs==4.3.8
praw==7.8.1
prawcore==2.4.0
preshed==3.0.10
prompt_toolkit==3.0.51
propcache==0.3.2
protobuf==6.31.1
psutil==7.0.0
psycopg2-binary==2.9.11
pt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.8.0/pt_core_news_lg-3.8.0-py3-none-any.whl#sha256=2561c9a72a938d37141e9694e1a36d25061a44ce7e4f3bad2d3fa3bb836191af
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pyasn1==0.6.1
pycparser==2.23
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing==3.2.3
pyphen==0.17.2
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-slugify==8.0.4
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq==27.0.0
rank-bm25==0.2.2
readability-lxml==0.8.4.1
referencing==0.37.0
regex==2024.11.6
requests==2.33.0
rich==14.0.0
rpds-py==2026.5.1
rsa==4.7.2
s3transfer==0.16.0
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
sentence-transformers==5.1.0
sentencepiece==0.2.0
sgmllib3k==1.0.0
shap==0.48.0
shellingham==1.5.4
six==1.17.0
slicer==0.0.8
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.1
stack-data==0.6.3
stanza==1.10.1
statsmodels==0.14.5
sympy==1.13.1
tabulate==0.9.0
termcolor==3.2.0
text-unidecode==1.3
textstat==0.7.7
thinc==8.3.6
threadpoolctl==3.6.0
tinycss2==1.4.0
tokenizers==0.19.1
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.41.0
triton==3.1.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata==2025.2
udapi==0.5.0
unicodecsv==0.14.1
Unidecode==1.4.0
update-checker==0.18.0
urllib3 @ file:///croot/urllib3_1737133630106/work
wasabi==1.1.3
wcwidth==0.2.13
weasel==0.4.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
widgetsnbextension==4.0.14
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
